body { 
    background: url('../assets/batman_arkham_main_background.jpg') no-repeat center center fixed; 
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-div {
    margin: auto;
    background-color: rgba(61, 54, 52, 0.815);
    border-left: 0px;
    border-right: 0px;
    border-top: 5px;
    border-top-style: solid;
    border-top-color: yellow;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(192, 191, 154);
}

.header-div h1 {
    text-align: center;
    color: white;
    font-size: 4em;
}

.title-box {
    border: 2px solid white;
    padding-left: 8px;
    padding-right: 8px;
}

section {
    margin: 1em auto;
    width: 96%;
}

.nome-jogo {
    margin: 1em 0;
    border-radius: 1em;
    background: rgba(136, 122, 102, 0.651);
}

.nome-jogo h2 {
    color: whitesmoke;
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 0;
    border: 2px solid white;
    border-radius: 1em;
}

.imagem-celula {
    height: 10em;
    padding: 2em;
    background: rgba(136, 122, 102, 0.651);
    border-radius: 1em;
}

.game-image {
    padding: 1.4em 2em 1em 2em;
    border-radius: 8em;
}

.bloco-inicial {
    margin: 30px 0px 30px 0px;
    background: rgba(61, 54, 52, 0.815);
    border-radius: 1em;
}

.descricao-e-opcoes {
    width: 68%;
    color: white; 
    padding: 0px;
}

.descricao {
    margin: auto;
    width: 70%;
    text-align: justify;
    text-justify: inter-word;
}

.preco {
    display: inline-block;
    color: rgb(195, 195, 224);
    margin-top: 2em;
    padding: 0em 2em 0em 2em;
    font-size: 2em;
}

.opcoes {
    display: inline-block;
    margin-top: 1em;
}

.opcoes div {
    margin: 1em;
    padding: 0.5em 1em;
    border: 2px solid rgb(181, 188, 212);
    text-align: center;
}

.opcao-comprar {
    background: rgba(132, 146, 175, 0.76); 
}

.bg-link:hover {
    background: rgba(136, 122, 102, 0.651);
}

.bg-link-special:hover {
    background: rgba(110, 110, 122, 0.897);
    border: 2px solid gold;
}

.bg-link-buy:hover {
    background: rgba(175, 161, 78, 0.87);
    border: 2px solid gold;
}

.highlight:hover {
    color: white;
}

a.link:link {
    color: silver;
    text-decoration: none;
}

a.link:visited {
    color: silver;
    text-decoration: none;
}
  
a.link:hover {
    color: gold;
    text-decoration: none;
}
  
a.link:active {
    color: silver;
    text-decoration: none;
}

.sobrejogo-div {
    background: rgba(61, 54, 52, 0.815);
    color: white;
    border-radius: 1em;
    padding: 1em;
}

.sobrejogo-cabecalho {
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    background: rgba(136, 122, 102, 0.651);
}

.sobrejogo-conteudo {
    padding: 3em;
    text-align: justify;
    text-justify: inter-word;
}

.border-button {
    border: 2px solid rgba(109, 122, 151, 0.945);
}

.voltar {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right:auto;
    width: 12em;
    text-align: center;
    padding: 1em;
}

.sobrejogo-conteudo p {
    width: 85%;
}

.sobrejogo-conteudo ul {
    width: 70%;
}

.sobrejogo-conteudo li {
    margin: 1em 0em;
}

.screenshots-div {
    background: rgba(61, 54, 52, 0.815);
    color: white;
    border-radius: 1em;
    padding: 1em;
}

.screenshots-cabecalho {
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    background: rgba(136, 122, 102, 0.651);
}

.screenshots-conteudo {
    margin: auto;
    padding: 1em;
}

.screenshots-conteudo table {
    margin: auto;
}

.requisitos-div {
    background: rgba(61, 54, 52, 0.815);
    color: white;
    border-radius: 1em;
    padding: 1em;
}

.requisitos-cabecalho {
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    background: rgba(136, 122, 102, 0.651);
}

.requisitos-conteudo {
    padding: 1em;
    text-align: justify;
    text-justify: inter-word;
}

.requisitos-bloco {
    padding: 0.5em;
}

.requisitos-sub-cabecalho {
    margin-right: auto;
    width: 50%;
    background: rgba(132, 146, 175, 0.76);
    border-radius: 1em;
    padding: 1em;
}

.lista-requisitos, .sub-lista-requisitos {
    padding: 1em;
    border-bottom: 2px solid silver;
}


.titulo-sub-lista-requisitos {
    margin-left: 0;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 10em;
    padding: 1em;
    text-align: center;
    border: 2px solid rgba(132, 146, 175, 0.76); 
}

.lista-requisitos-conteudo ul li strong {
    color: rgb(195, 195, 224);
}

.comprar-div {
    background: rgba(61, 54, 52, 0.815);
    color: white;
    border-radius: 1em;
    padding: 1em;
}

.comprar-cabecalho {
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    background: rgba(136, 122, 102, 0.651)
}

.comprar-conteudo {
    padding: 1em;
    text-align: justify;
    text-justify: inter-word;
}

.border-button {
    border: 2px solid rgba(109, 122, 151, 0.945);
}

.comprar-conteudo form {
    margin: auto;
    width: 80%;
    font-size: 1.6em;
}

.form-linha {
    margin: 1em auto;
    width: 98%;
}

.label-div {
    width: 50%;
}

.texto-div {
    margin: auto;
    width: 100%;
}

.texto-nome {
    width: 100%;
    color: white;
    font-size: 0.9em;
    background: rgba(136, 122, 102, 0.651);
    border: 2px solid gold;
}

.texto-lugradouro {
    width: 85%;
    color: white;
    font-size: 0.9em;
    background: rgba(136, 122, 102, 0.651);
    border: 2px solid gold;
}

.texto-apt {
    width: 10%;
    margin: 0%;
    color: white;
    font-size: 0.9em;
    background: rgba(136, 122, 102, 0.651);
    border: 2px solid gold;
}

.radio-div {
    margin: auto;
}

.radio-div table {
    margin: auto;
}

.credit-card-logo-div {
    margin: auto;
    padding: 0em 1em;
}

.credit-card-logo {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
}

.radio-credit-card-div {
    margin: 0% 27% 0% 43%;
    width: 30%;
}

.option-credit-card {
    margin: auto;
    width: 50%;
}

.texto-numero-cartao {
    width: 40%;
    color: white;
    font-size: 0.9em;
    background: rgba(136, 122, 102, 0.651);
    border: 2px solid gold;
}

.texto-digitos-seguranca {
    width: 10%;
    margin: 0%;
    color: white;
    font-size: 0.9em;
    background: rgba(136, 122, 102, 0.651);
    border: 2px solid gold;
}

.texto-div label {
    margin: 0em 1em;
}

.botao-comprar {
    margin: 1.6em auto;
    width: 10%;
    padding: 0.3em 1em;
    font-size: 0.9em; 
    color: white;
    background: rgba(132, 146, 175, 0.76);
    border: 2px solid rgb(181, 188, 212);
}

.highlight-buy-button:hover {
    color: gold;
    background: rgba(175, 161, 78, 0.87);
    border: 2px solid gold;
}


