body {
	margin-left: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
	margin: auto;
	width: 50%;
	text-align: center;
	text-decoration: underline;
}

p {
	width: 800px;
	text-align: justify;
	text-justify: inter-word;
}

table, th, td {
	border: 1px solid black;
}

table {
	margin: auto;
	width: 50%;
}

#operacoes tr > td {
	text-align: center;
}

pre, code {
	color: blueviolet;
}

#conclusao {
	margin-bottom: 100px;
}

