body { 
  background: url('./assets/batman_arkham_main_background.jpg') no-repeat center center fixed; 
  background-size: cover;
}

#header-div {
  margin: auto;
  background-color: rgba(61, 54, 52, 0.815);
  border-left: 0px;
  border-right: 0px;
  border-top: 5px;
  border-top-style: solid;
  border-top-color: yellow;
  border-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-color: rgb(192, 191, 154);
}

#header-div h1 {
  text-align: center;
  color: white;
  font-size: 4em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#title-box {
  border: 2px solid white;
  padding-left: 8px;
  padding-right: 8px;
}

.enhanced-black {
  background-color: rgba(black, 0.7);
}