body { 
  background: url('./assets/batman_arkham_main_background.jpg') no-repeat center center fixed; 
  background-size: cover;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header-div {
  margin: auto;
  background-color: rgba(61, 54, 52, 0.815);
  border-left: 0px;
  border-right: 0px;
  border-top: 5px;
  border-top-style: solid;
  border-top-color: yellow;
  border-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-color: rgb(192, 191, 154);
}

#header-div h1 {
  text-align: center;
  color: white;
  font-size: 4em;
}

#title-box {
  border: 2px solid white;
  padding-left: 8px;
  padding-right: 8px;
}

.nome-item-div {
  width: 70%;
  margin-bottom: 1em;
  border: 2px solid white;
}

.nome-item-div h3 {
  text-align: center;
}

.nome-item-div a:link {
  color: silver;
  text-decoration: none;
}

.nome-item-div a:visited {
  color: silver;
  text-decoration: none;
}

.nome-item-div a:hover {
  color: gold;
  text-decoration: none;
}

.nome-item-div a:active {
  color: silver;
  text-decoration: none;
}

.item-jogo {
  margin: 30px 0px 30px 0px;
  background: rgba(61, 54, 52, 0.815);
}

.descricao-item-div {
  padding: 10px;
}

.descricao-item-celula {
  width: 68%;
  color: white; 
}

.imagem-item-celula {
  height: 10em;
  padding: 2em;
  background: rgba(136, 122, 102, 0.651);
}

.item-image {
  padding: 1.4em 1em 1em 1em;
}

.texto-descricao {
  height: 6em;
  overflow-y: hidden;
}

.item-image {
  width: 460px;
  height: 215px;
}

.special-discount {
  color: goldenrod;
}

